[mysqld]
skip-host-cache
skip-name-resolve
sql-mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
group_concat_max_len=18446744073709547520
innodb_lock_wait_timeout=1800
log_bin_trust_function_creators=1
transaction_isolation=READ-COMMITTED
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
